  nav {
    position: fixed;
    background-color: #0020C2;
    height: 50px;
    color: white;
  }
  #1 {
    float: left;
    width: 50%;
    background-color: #0020C2;
    color: white;
  }
  #2 {
    float: right;
    width: 50%;
    background-color: white;
    color: #0020C2;
  }
  footer {
    background-color: gray;
    color: #0020C2;
    height: 30px;
    clear: both;
  }
