  nav {
    position: fixed;
    background-color: #0020C2;
    height: 25px;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
  }
  section#left {
    float: left;
    height: 1000px;
    width: 50%;
    background-color: white;
    color: #0020C2;
    padding-top: 30px;
  }
  section#right {
    float: right;
    height: 1000px;
    width: 50%;
    background-color: #0020C2;
    color: white;
    padding-top: 30px;
  }
  footer {
    background-color: gray;
    color: #0020C2;
    height: 20px;
    clear: both;
  }
  .white {
    color: white;
  }
  .blue {
    color: #0020C2;
  }
