  h2  {
    color: #0020C2;
  }
  h1  {
    color: #0020C2;
  }
  nav {
    background-color: #0020C2;
  }
  a {
    color: white;
  }
  h5 {
    color: #0020C2;
  }
  footer {
    background-color: gray;
  }
  #blue {
    color: #0020C2;
  }
