    a {
      color: white;
    }
    .blue {
      color: #0020C2;
    }
    .hi {
      color:red;
    }
    .med {
      color: orange;
    }
    .low {
      color: gray;
    }
    .done {
      text-decoration: line-through;
    }
    h5 {
      color: #0020C2;
    }
    footer {
      background-color: gray;
    }
    nav {
      background-color: #0020C2;
    }
