      #tcenter {
        text-align: center;
        padding-top: 25px;
      }
      a {
        color: #0020C2;
      }
      section {
        background-color: #0020C2;
        width: 450px;
        height: 450px;
        margin-left: auto;
        margin-right: auto;
        overflow: auto;
      }
      body {
        background-color: gray;
      }
      Footer {
        color: white;
        position: center;
        width: 450px;
        padding-top: 5px;
        padding-left: 70px;
        margin-left: auto;
        margin-right: auto;
        background-color: #0020C2;
        height: 25px;
      }
      .high {
        color: red;    
      }
      .medium {
        color: orange;    
      }
      .low {
        color: gray;   
      }
